@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

.container {
    margin: 0 auto;
    width: 90%;    
}

.active--js {
    display: block!important;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}